@model IEnumerable<Usuario>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/estilo.css">
    <title>Index</title>
</head>

<body>
    <table>
        @foreach (var usuarios in Model)
        {
            <tr>
                <td>@usuarios.Email</td>
                <td>@usuarios.Senha</td>
                <td><a asp-action="Excluir" asp-route-id="@usuarios.Id">Excluir</a></td>
            </tr>
        }
    </table>  

</body>
</html>
