body {
    text-align: justify;
    margin: auto;
    background-color: rgb(218, 253, 220);
    font-family: Arial, Helvetica, sans-serif;
}
/*configuração do menu de navegaçao*/
.navegacao {
    background-color: rgb(52, 82, 54);
    margin: auto auto 10px auto;
    padding-bottom: auto;
    color: rgb(224, 224, 201);
    padding: 5px;
    width: 99.5%;
    height: 100%;
}

    .navegacao ul li {
        background-color: rgb(73, 109, 68);
        display: inline;
        padding: 15px;
        text-align: center;
    }

    .navegacao li:hover {
        cursor: pointer;
        background-color: rgb(73, 109, 68);
        border-radius: 5px 5px 5px 5px;
        transition: 0.3s;
        color: white;
    }

/*configuração do corpo*/
.container {
    background-color: rgb(242, 255, 240);
    border: 1px solid rgba(141, 141, 141, 0.822);
    width: 60%;
    height: 50%;
    text-align: justify;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,.3);
}

/* Detalhes do Candidato */
#candidato section {
    margin-top: 20px;
}

/* Informaçoes Básicas do Candidato */
#candidato>header {
    display: flex;
}

#info-basica {
    display: grid;
    /*fr >> fração da largura*/
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
}

#info-basica img {
    width: 100%;
    grid-column: 2 / 2;
    grid-row: 1 / 4;
}

#info-basica h1 {
    grid-column: 1/1;
    grid-row: 1/1;
}

#info-basica #contato {
    grid-column: 1/1;
    grid-row: 2/2;
}

#info-basica #objetivo {
    grid-column: 1/1;
    grid-row: 3/3;
}
    
/* Experiência*/
#experiencia {
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px;
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,.3);
}

    #experiencia h1 {
        border-bottom: 1px solid rgba(0,0,0,.3);
    }

/* Formação */
#candidato section>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#candidato section ul {
    list-style: none;
}