@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/botao.css">
    <link rel="stylesheet" href="_css/estilo.css">
    <title>Home</title>
</head>
    <body>
   
        <button>Sign in</button>
        <a asp-action="Incluir" asp-controller="Usuarios">Sign up</a>
    
    </body>
</html>