<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/estilo.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="navegacao">
        <ul>
            <li>Home</li>

            <li>Vagas</li>
            <li>Notificações</li>
        </ul>
    </header>

    @RenderBody()
    <footer class="rodape">Curriculos</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> 

    @RenderSection("Scripts", false)

</body>
</html>
