@model AspNet.Curriculos.Modelos.Habilidade

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Experiencia</h4>
        </div>
        <form asp-action="IncluirHabilidade">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Skill" class="control-label"></label>
                    <input asp-for="Skill" class="form-control" />
                    <span asp-validation-for="Skill" class="text-danger"></span>
                </div>
                <input type="hidden" name="CandidatoId" id="HabilidadeCandidatoId" value="@Model.CandidatoId" />
            </div>
            <div class="form-group modal-footer">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
