@model ListaPaginada<Candidato>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="_css/estilo.css">
</head>
<body>
    
    <a asp-action="Incluir">Adicionar</a>
    <table>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td><a asp-action="Detalhes" asp-route-id="@item.Id">@item.Nome</a></td>                
            </tr>
        }
  
    </table>
    @if(Model.Pagina.PaginaAnterior >0)
    {
        <a href="/Candidato/Index?pagina=@Model.Pagina.PaginaAnterior&tamanho=@Model.Pagina.TamanhoPagina">
            Anterior
        </a>
    }

</body>
</html>

