@model IEnumerable<Candidato>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="_css/estilo.css">
</head>
<body>
    <ul>
        @foreach (var item in Model)
        {
            <li><a asp-action="Detalhes" asp-route-id="@item.Id">@item.Nome</a></li>
        }
        
      
    </ul>

</body>
</html>

