<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="_css/estilo.css">
</head>
<body>
    <ul>
        <li><a asp-action="Detalhes" asp-route-id="1">Leandro</a></li>
        <li><a asp-action="Detalhes" asp-route-id="2">Rafael</a></li>
        <li><a asp-action="Detalhes" asp-route-id="3">Daniel</a></li>
        <li><a asp-action="Detalhes" asp-route-id="4">Pedro</a></li>
        <li><a asp-action="Detalhes" asp-route-id="5">João</a></li>
        <li><a asp-action="Detalhes" asp-route-id="6">Maria</a></li>
    </ul>

</body>
</html>

